
{% extends 'MyHealthApp/sidebar.html' %}

{% block div_id %}<div class="content-wrapper" id = "content-medicines">{% endblock %}

{% block content %}
<div class="background-med">
 
   <h1 class="head-medi text-center">Add Medicines</h1>

<div class="container">
<div class="row">   

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="col-sm-6 col-md-6 label-med-left">
    	<p class="label-med">Name</p>
 		<p class="label-desc">{{ form.medicine_name }}</p>
    	<p class="label-med">Method</p>
    	<p class="label-desc">{{ form.method }}</p>
    	<p class="label-med">Dosage Amount</p>
    	<p class="label-desc" id="label-desc-id">{{ form.dosage_amt }}</p>
    	<p class="label-med">Frequency</p>
   		<p class="label-desc">{{ form.frequency }} </p>
  		<p class="help-text">No. of times a day.</p>
   		<p class="label-med">Date</p>
    	<p class="label-desc">{{ form.medicine_date }}</p>
    	<p class="help-text">Date Format: YYYY-MM-DD</p>
    	<p class="help-text">Start date of the Prescription.</p>
    	<p class="label-med">Doctor</p>
    	<p class="label-desc">{{ form.doctor }} <a href="{% url 'MyHealthApp:add_doctor' %}">Add Doctor</a> </p>
    	<p class="label-med">Usage Instructions</p>
    	<p class="label-desc">{{ form.usage_instructions }}</p>
    	
    </div>

    <div class="col-sm-6 col-md-6 label-med-right">
    	<p class="label-med">Overdose Instructions</p><br>
    	<p class="label-desc">{{ form.overdose_instructions }}</p>
 		<p class="label-med">Possible Side Effects</p>
    	<p class="label-desc">{{ form.possible_sideeffects }}</p>
   		<p class="label-med">Brand Names</p>
   		<p class="label-desc">{{ form.brand_names }}</p>
   		<button class="upload-button" type="submit">Upload</button>
    		
  	</div>

  </form> 
 </div>
 </div>
 </div>

{% endblock %}