
{% extends 'MyHealthApp/sidebar.html' %}

{% block title %} Add Measurement {% endblock %}

{% block div_id %}<div class="content-wrapper" id = "content-measurements">{% endblock %}

{% block content %}
<div class="background-meas">
 
   <h1 class="head-medi text-center">Add Measurements</h1>

<div class="container">
<div class="row">   

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

   <div class="col-sm-6 col-md-6 label-med-left">
	    					<p class="label-med">Blood Pressure</p>
	    					<p class="label-desc">{{ form.blood_pressure }}</p>
	    					<p class="label-med">Blood Sugar</p>
	    					<p class="label-desc">{{ form.blood_sugar }}</p>
	    					<p class="label-med">Cholestrol</p>
	    					<p class="label-desc" id="label-desc-id">{{ form.cholesterol }}</p>
	    					<p class="label-med">Height</p>
	    					<p class="label-desc">{{ form.height }} </p>
	    		
	    					<p class="label-med">Weight</p>
	    					<p class="label-desc">{{ form.weight }}</p>
	    					<p class="help-text">In Kilo Grams</p>
	    					<p class="label-med">Date</p>
	    					<p class="label-desc">{{ form.date }}</p>
	    					<p class="help-text">Date format: yyyy-mm-dd</p>
	    					<p class="label-med">Notes</p>
	    					<p class="label-desc">{{ form.notes }}</p>
	    					<button class="upload-button" type="submit">Upload</button>
    					</div>

  </form> 
 </div>
 </div>
 </div>

{% endblock %}
 