
{% extends 'MyHealthApp/sidebar.html' %}

{% block div_id %}<div class="content-wrapper" id = "content-insurances">{% endblock %}

{% block content %}
 
   <h1 class="head-medi text-center">Add Insurances</h1>

<div class="container">
<div class="row">   

  <form method="post" enctype="multipart/form-data">
    					{% csrf_token %}
    					<div class="col-sm-6 col-md-6 label-med-left">
    					<p class="label-med">Plan</p>
    					<p class="label-desc">{{ form.insurance_plan }}</p>
    					<p class="label-med">Expiry Date</p>
    					<p class="label-desc">{{ form.expiry_date }}</p>
    					<p class="label-med">Start Date</p>
    					<p class="label-desc" id="label-desc-id">{{ form.start_date }}</p>
    					<p class="label-med">Premium</p>
    					<p class="label-desc">{{ form.premium }} </p>
    					<!-- <p class="help-text">No. of times a day.</p> -->
    					<p class="label-med">Notes</p>
    					<p class="label-desc">{{ form.notes }}</p>
    					<button class="upload-button" type="submit">Upload</button>
    					<!-- <p class="help-text">Start date of the Prescription.</p>
    					<p class="label-med">Doctor</p>
    					<p class="label-desc">{{ form.doctor }}</p>
    					<p class="label-med">Usage Instructions</p>
    					<p class="label-desc">{{ form.usage_instructions }}</p> -->
    					</div>

    				<!-- 	<div class="col-sm-6 col-md-6 label-med-right">
    					<p class="label-med">Overdose Instructions</p><br>
    					<p class="label-desc">{{ form.overdose_instructions }}</p>
    					<p class="label-med">Possible Side Effects</p>
    					<p class="label-desc">{{ form.possible_sideeffects }}</p>
    					<p class="label-med">Brand Names</p>
    					<p class="label-desc">{{ form.brand_names }}</p>
    					
    					</div> -->
    					
   					 
				  </form>
 </div>
 </div>

{% endblock %}
