
{% extends "MyHealthApp/sidebar.html" %}

{% block title %} Edit Doctors {% endblock %}


{% block div_id %}<div class="content-wrapper" id = "content-doctors">{% endblock %}

{% block content %}

<div class="background-doc">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3">
				<h1 class="head-medi text-center">My Doctors</h1>
				<a href="{% url 'MyHealthApp:add_doctor' %}"><div class="add_med">Add Doctors</div></a>
			
				{% for doctor in doctor_list %}
				{% if doctor.id == current_doctor.id %}
					<a href="{% url 'MyHealthApp:edit_doctor' doctor.id %}">
					<div class="med-a">
						<div class="col-md-5 col-sm-5">
							<div class="medi-div">
								<h5 id="medi-title" style="background: white; color: #3fbbc0;">{{ doctor.doctor_name.title }}</h5>
							</div>
						</div>
						<div class="col-md-7 col-sm-7"><span class="medi-desc">3 times a day.</span></div>
					</div>
					</a>
					{% if forloop.last %}
					<div class="col-md-12 col-sm-12">
						<div class="divider-short"></div>
					</div>
					{% endif %}
				{% else %}
					<a href="{% url 'MyHealthApp:edit_doctor' doctor.id %}">
					<div class="med-a">
						<div class="col-md-5 col-sm-5">
							<div class="medi-div">
								<h5 id="medi-title">{{ doctor.doctor_name.title }}</h5>
							</div>
						</div>
						<div class="col-md-7 col-sm-7"><span class="medi-desc">3 times a day.</span></div>
					</div>
					</a>
					{% if forloop.last %}
					<div class="col-md-12 col-sm-12">
						<div class="divider-short"></div>
					</div>
					{% endif %}
				{% endif %}
				{% endfor %}

			</div>

			<div class="col-sm-9 col-md-9"><h1 class="head-medi text-center"> {{  current_doctor.doctor_name.title }} </h1>

  				<form method="post" enctype="multipart/form-data">
    					{% csrf_token %}

    					<div class="col-sm-6 col-md-6 label-med-left">
    					<p class="label-med">Name</p>
    					<p class="label-desc">{{ form.doctor_name }}</p>
    					<p class="label-med">Phone Number</p>
    					<p class="label-desc">{{ form.doctor_phone_number }}</p>
    					<p class="label-med">Doctor Description</p>
    					<p class="label-desc" id="label-desc-id">{{ form.doctor_description }}</p>
    					<p class="label-med">Address</p>
    					<p class="label-desc">{{ form.doctor_address }} </p>
    					<!-- <p class="help-text">No. of times a day.</p> -->
    					<p class="label-med">Speciality</p>
    					<p class="label-desc">{{ form.doctor_speciality }}</p>
    					<!-- <p class="help-text">Start date of the Prescription.</p> -->
    					<p class="label-med">Timings</p>
    					<p class="label-desc">{{ form.doctor_timings }}</p>
    					<!-- <p class="label-med">Usage Instructions</p>
    					<p class="label-desc">{{ form.usage_instructions }}</p> -->
    					</div>

    					<div class="col-sm-6 col-md-6 label-med-right">
    					<p class="label-med">Notes</p><br>
    					<p class="label-desc">{{ note_form.doctor_note }}</p>
    				<!-- 	<p class="label-med">Possible Side Effects</p>
    					<p class="label-desc">{{ form.possible_sideeffects }}</p>
    					<p class="label-med">Brand Names</p>
    					<p class="label-desc">{{ form.brand_names }}</p> -->
    					 <button class="upload-button" type="submit">Upload</button>
   					 	<a class="delete-button" href="{% url 'MyHealthApp:delete_medicine' form.instance.id %}">Delete</a>
    					</div>
    					 
  
				
				  </form>
				 
			</div>
		</div>
		
	</div>

</div>
	


{% endblock %}




  <!-- <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
    <a href="{% url 'MyHealthApp:delete_doctor' form.instance.id %}">delete</a>
  </form> -->