{% extends "MyHealthApp/sidebar.html" %}

{% block div_id %}<div class="content-wrapper" id = "content-appointments">{% endblock %}

{% block content %}

	<div class="background-appoint">
	<h1 class="head-med text-center">My Appointments</h1>

	<a href="{% url 'MyHealthApp:add_appointment' %}"><div class="ADD">Add Appointments</div></a>

	<div class="container">
		<div class="row">
			{% for appointments in appointment_list %}
			<a href="{% url 'MyHealthApp:edit_appointment' appointments.id %}"><div class="col-md-12 col-sm-12">
				<div class="med-div">
				<h5 id="med-title">{{ appointments.doctor.doctor_name.title }}</h5>
				<span class="med-desc">Pediatrician.</span>
				</div>
			</div></a>
			{% if forloop.last %}
			<div class="col-md-12 col-sm-12">
				<div class="divider-short"></div>
			</div>
			{% endif %}
			{% endfor %}
	
		</div>
		
	</div>
</div>



{% endblock %}