{% extends "MyHealthApp/sidebar.html" %}

{% block div_id %}<div class="content-wrapper" id = "content-diseases">{% endblock %}

{% block content %}


	<h1 class="head-med text-center">My Diseases</h1>

	<a href="{% url 'MyHealthApp:add_disease' %}"><div class="ADD">Add Diseases</div></a>

	<div class="container">
		<div class="row">
			{% for disease in disease_list %}
			<a href="{% url 'MyHealthApp:edit_disease' disease.id %}"><div class="col-md-12 col-sm-12">
				<div class="med-div">
				<h5 id="med-title">{{ disease.disease_name.title }}</h5>
				<span class="med-desc">10 days ago.</span>
				</div>
			</div></a>
			{% if forloop.last %}
			<div class="col-md-12 col-sm-12">
				<div class="divider-short"></div>
			</div>
			{% endif %}
			{% endfor %}
	
		</div>
		
	</div>



{% endblock %}