{% extends "MyHealthApp/sidebar.html" %}

{% block title %} My Insurances {% endblock %}

{% block div_id %}<div class="content-wrapper" id = "content-insurances">{% endblock %}

{% block content %}
<div class="background-insurance">

	<h1 class="head-med text-center">My Insurances</h1>

	<a href="{% url 'MyHealthApp:add_insurance' %}"><div class="ADD">Add Insurances</div></a>

	<div class="container">
		<div class="row">
			{% for insurances in insurance_list %}
			<a href="{% url 'MyHealthApp:edit_insurance' insurances.id %}"><div class="col-md-12 col-sm-12">
				<div class="med-div">
				<h5 id="med-title">{{ insurances.insurance_plan.title }}</h5>
				<span class="med-desc">Pediatrician.</span>
				</div>
			</div></a>
			{% if forloop.last %}
			<div class="col-md-12 col-sm-12">
				<div class="divider-short"></div>
			</div>
			{% endif %}
			{% endfor %}
	
		</div>
		
	</div>
	</div>



{% endblock %}