{% extends "MyHealthApp/base.html" %}

{% block title %} My Health {% endblock %}

{% load static %}

{% block content %}

	<div id="div_head">
		<a href="#"><img id="head" src="{% static 'MyHealthApp/img/logos/healthapp.png' %}">
		<img id="health_account" src="{% static 'MyHealthApp/img/MyHealth/health_account.png' %}"></a>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6 hidden-xs">
					<div class="wow fadeInUp">
						<img id="dummy" class="img-responsive" src="{% static 'MyHealthApp/img/dummy/img-1.jpg' %}">
					</div>
				</div>	
				<div class="col-md-6 col-sm-6 padding">
				<div class="col-md-6 col-sm-6 padding">
					<div class="wow fadeInRight border">
						<div>

							<a href="{% url 'MyHealthApp:my_medicines' %}"><img id="pill" src="{% static 'MyHealthApp/img/MyHealth/pill.png' %}"></a>
						</div>
						<div>
							<a href="{% url 'MyHealthApp:my_medicines' %}"><h5 id="med_desc">My Medicine</h5></a>
						</div>
					</div>
				</div>		
				<div class="col-md-6 col-sm-6 padding">
					<div class="wow fadeInRight border">
						<div>
							<a href="{% url 'MyHealthApp:my_diseases' %}"><img id="diseases" src="{% static 'MyHealthApp/img/MyHealth/diseases.png' %}"></a>
						</div>
						<div>
							<a href="{% url 'MyHealthApp:my_diseases' %}"><h5 id="dis_desc">My Diseases</h5></a>
						</div>
					</div>
				</div>		
				<div class="col-md-6 col-sm-6 padding">
					<div class="wow fadeInRight border">
						<div>
							<a href="{% url 'MyHealthApp:my_insurance' %}"><img id="insurance" src="{% static 'MyHealthApp/img/MyHealth/insurance.png' %}"></a>
						</div>
						<div>
							<a href="{% url 'MyHealthApp:my_insurance' %}"><h5 id="ins_desc">My Insurance</h5></a>
						</div>
					</div>
				</div>		
				<div class="col-md-6 col-sm-6 padding">
					<div class="wow fadeInRight border">
						<div>
							<a href="{% url 'MyHealthApp:my_measurements' %}"><img id="measurements" src="{% static 'MyHealthApp/img/MyHealth/measurements.png' %}"></a>
						</div>
						<div>
							<a href="{% url 'MyHealthApp:my_measurements' %}"><h5 id="meas_desc">My Measurements</h5></a>
						</div>
					</div>
				</div>		
				<div class="col-md-6 col-sm-6 padding">
					<div class="wow fadeInRight border">
						<div>
							<a href="{% url 'MyHealthApp:my_appointments' %}"><img id="appointments" src="{% static 'MyHealthApp/img/MyHealth/appointments.png' %}"></a>
						</div>
						<div>
							<a href="{% url 'MyHealthApp:my_appointments' %}"><h5 id="app_desc">My Appointments</h5></a>
						</div>
					</div>
				</div>		
				<div class="col-md-6 col-sm-6 padding">
					<div class="wow fadeInRight border">
						<div>
							<a href="{% url 'MyHealthApp:my_documents' %}"><img id="documents" src="{% static 'MyHealthApp/img/MyHealth/documents.png' %}"></a>
						</div>
						<div>
							<a href="{% url 'MyHealthApp:my_documents' %}"><h5 id="doc_desc">My Documents</h5></a>
						</div>
					</div>
				</div>		
				<div class="col-md-12 col-sm-12 padding">
					<div class="wow fadeInRight">
						<div>
							<a href="{% url 'MyHealthApp:my_doctors' %}"><img id="doctors" src="{% static 'MyHealthApp/img/MyHealth/doctors.png' %}"></a>
						</div>
						<div>
							<a href="{% url 'MyHealthApp:my_doctors' %}"><h5 id="my_doctors">My Doctors</h5></a>
						</div>
					</div>
				</div>	
				</div>	
			</div>
		</div>
	</div>

{% endblock %}