{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
    	{% block title %}Page Title{% endblock %}
    </title>
    <!-- css -->
    <link href="{% static 'MyHealthApp/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'MyHealthApp/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'MyHealthApp/plugins/cubeportfolio/css/cubeportfolio.min.css' %}" rel="stylesheet" />
	<link href="{% static 'MyHealthApp/css/nivo-lightbox.css' %}" rel="stylesheet" />
	<link href="{% static 'MyHealthApp/css/nivo-lightbox-theme/default/default.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'MyHealthApp/css/owl.carousel.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'MyHealthApp/css/owl.theme.css' %}" rel="stylesheet" media="screen" />
	<link href="{% static 'MyHealthApp/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'MyHealthApp/css/style.css' %}" rel="stylesheet" />

	<!-- boxed bg -->
	<link id="bodybg" href="{% static 'MyHealthApp/bodybg/bg1.css' %}" rel="stylesheet" type="text/css" />
	<!-- template skin -->
	<link id="t-colors" href="{% static 'MyHealthApp/color/default.css' %}" rel="stylesheet" />
    


    <!-- boxed bg -->
	<!-- <link id="bodybg" href="{% static 'MyHealthApp/bg1.css' %}" rel="stylesheet" type="text/css" /> -->
	<!-- template skin -->
	<!-- <link id="t-colors" href="{% static 'MyHealthApp/css/default_color.css' %}" rel="stylesheet"> -->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

<div id="wrapper">
	
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<!-- <div class="top-area">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-6">
					<p class="bold text-left">Monday - Saturday, 8am to 10pm </p>
					</div>
					<div class="col-sm-6 col-md-6">
					<p class="bold text-right">Call us now +62 008 65 001</p>
					</div>
				</div>
			</div>
		</div> -->
        <div class="container navigation">
		
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="{% static 'MyHealthApp/css/img/logo.png' %}" alt="" width="150" height="40" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			  <ul class="nav navbar-nav">
				{% block navbar %}
					Navbar content
				{% endblock %}
			  </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    

  <div id="base_wrapper">
    {% block sidebar %}


<!-- Sidebar -->

	<div id="sidebar-wrapper">
	<a href="#" id="toggle-menu" onclick="myFunction(this)">


	<div class="menu-bar" >
		<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
	</div>

		<!-- <i class="fa fa-bars"></i> -->
		
		<!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> -->

	</a>
	<p class="menu-desc"> My Health Account</p>
		
	<div id="tabs">
		<ul class="sidebar-nav">

			<li class="start2 start1"><a href="{% url 'MyHealthApp:medicines' %}" ><div class="bla"><img id="pill-side1" src="{% static 'MyHealthApp/img/MyHealth/pill.png' %}"><p class="li-desc">My Medicines</p></div></a></li>

			<li class="start2"><a href="{% url 'MyHealthApp:diseases' %}"><div class="bla"><img id="pill-side" src="{% static 'MyHealthApp/img/MyHealth/diseases.png' %}"><p class="li-desc">My Diseases</p></div></a></li>

			<li class="start2"><a href="{% url 'MyHealthApp:insurance' %}"><div class="bla"><img id="pill-side" src="{% static 'MyHealthApp/img/MyHealth/insurance.png' %}"><p class="li-desc">My Insurance</p></div></a></li>

			<li class="start2"><a href="{% url 'MyHealthApp:measurements' %}"><div class="bla"><img id="pill-side" src="{% static 'MyHealthApp/img/MyHealth/measurements.png' %}"><p class="li-desc">My Measurements</p></div></a></li>

			<li class="start2"><a href="{% url 'MyHealthApp:appointments' %}"><div class="bla"><img id="pill-side" src="{% static 'MyHealthApp/img/MyHealth/appointments.png' %}"><p class="li-desc">My Appointments</p></div></a></li>

			<li class="start2"><a href="{% url 'MyHealthApp:documents' %}"><div class="bla"><img id="pill-side" src="{% static 'MyHealthApp/img/MyHealth/documents.png' %}"><p class="li-desc">My Documents</p></div></a></li>

			<li class="start2"><a href="{% url 'MyHealthApp:doctors' %}"><div class="bla"><img id="pill-side" src="{% static 'MyHealthApp/img/MyHealth/doctors.png' %}"><p class="li-desc">My Doctors</p></div></a></li>

			<li class="start"><a class="down" href="{% url 'MyHealthApp:medicines' %}"><div class="bla"><img id="pill-side" src="{% static 'MyHealthApp/img/MyHealth/pill.png' %}"><p class="li-desc">My Medicines</p></div></a></li>

			<li class="start"><a  href="{% url 'MyHealthApp:diseases' %}"><div class="bla"><img id="pill-side" src="{% static 'MyHealthApp/img/MyHealth/diseases.png' %}"><p class="li-desc">My Diseases</p></div></a></li>
			<li class="start"><a href="{% url 'MyHealthApp:insurance' %}"><div class="bla"><img id="pill-side" src="{% static 'MyHealthApp/img/MyHealth/insurance.png' %}"><p class="li-desc">My Insurance</p></div></a></li>
			<li class="start"><a href="{% url 'MyHealthApp:measurements' %}"><div class="bla"><img id="pill-side" src="{% static 'MyHealthApp/img/MyHealth/measurements.png' %}"><p class="li-desc">My Measurements</p></div></a></li>
			<li class="start"><a href="{% url 'MyHealthApp:appointments' %}"><div class="bla"><img id="pill-side" src="{% static 'MyHealthApp/img/MyHealth/appointments.png' %}"><p class="li-desc">My Appointments</p></div></a></li>
			<li class="start"><a href="{% url 'MyHealthApp:documents' %}"><div class="bla"><img id="pill-side" src="{% static 'MyHealthApp/img/MyHealth/documents.png' %}"><p class="li-desc">My Documents</p></div></a></li>
			<li class="start"><a href="{% url 'MyHealthApp:doctors' %}"><div class="bla"><img id="pill-side" src="{% static 'MyHealthApp/img/MyHealth/doctors.png' %}"><p class="li-desc">My Doctors</p></div></a></li>
		</ul>
		</div>
		
	</div>

<!-- content -->
	<div id="content-wrapper">

	{% block content %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12" id="text" >
					
					<!-- <a href="#" class="btn btn-success" id="menu-toggle">Toggle Menu</a> -->
					<h1>Sidebar</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					
				</div>
				
			</div>
			
		</div>

		{% endblock %}

	</div>
	


{% endblock %}
</div>
  
    <footer id="footer">
	
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 index">
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>About Medicio</h5>
						<p>
						Lorem ipsum dolor sit amet, ne nam purto nihil impetus, an facilisi accommodare sea
						</p>
					</div>
					</div>
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>Information</h5>
						<ul>
							<li><a href="#">MyHealthApp</a></li>
							<li><a href="#">Laboratory</a></li>
							<li><a href="#">Medical treatment</a></li>
							<li><a href="#">Terms & conditions</a></li>
						</ul>
					</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 index">
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>Medicio center</h5>
						<p>
						Nam leo lorem, tincidunt id risus ut, ornare tincidunt naqunc sit amet.
						</p>
						<ul>
							<li>
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-calendar-o fa-stack-1x fa-inverse"></i>
								</span> Monday - Saturday, 8am to 10pm
							</li>
							<li>
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-phone fa-stack-1x fa-inverse"></i>
								</span> +62 0888 904 711
							</li>
							<li>
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
								</span> hello@medicio.com
							</li>

						</ul>
					</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 index">
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>Our location</h5>
						<p>The Suithouse V303, Kuningan City, Jakarta Indonesia 12940</p>		
						
					</div>
					</div>
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>Follow us</h5>
						<ul class="company-social">
								<li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
								<li class="social-dribble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
						</ul>
					</div>
					</div>
				</div>
			</div>	
		</div>
		<!-- <div class="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-6">
					<div class="wow fadeInLeft" data-wow-delay="0.1s">
					<div class="text-left">
					<p>&copy;Copyright - Medicio Theme. All rights reserved.</p>
					</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-6">
					<div class="wow fadeInRight" data-wow-delay="0.1s">
					<div class="text-right">
						<div class="credits">
                            
                                All the links in the footer should remain intact. 
                                You can delete the links only if you purchased the pro version.
                                Licensing information: https://bootstrapmade.com/license/
                                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Medicio
                           
                            <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
					</div>
					</div>
				</div>
			</div>	
		</div>
		</div> -->
	</footer>

</div>

<!-- Core JavaScript Files -->
    <script src="{% static 'MyHealthApp/js/jquery.min.js' %}"></script>	 
    <script src="{% static 'MyHealthApp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'MyHealthApp/js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'MyHealthApp/js/wow.min.js' %}"></script>
	<script src="{% static 'MyHealthApp/js/jquery.scrollTo.js' %}"></script>
	<script src="{% static 'MyHealthApp/js/jquery.appear.js' %}"></script>
	<script src="{% static 'MyHealthApp/js/stellar.js' %}"></script>
	<script src="{% static 'MyHealthApp/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
	<script src="{% static 'MyHealthApp/plugins/cubeportfolio/js/jquery.cubeportfolio.js' %}"></script>
	<script src="{% static 'MyHealthApp/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'MyHealthApp/js/nivo-lightbox.min.js' %}"></script>
    <script src="{% static 'MyHealthApp/js/custom.js' %}"></script>
    <script src="{% static 'MyHealthApp/js/maphilight.js' %}"></script>
 	

</body>

</html>












