{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
    	{% block title %}Page Title{% endblock %}
    </title>
    <link href="{% static 'ProfileApp/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'ProfileApp/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'ProfileApp/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'ProfileApp/css/cubeportfolio.min.css' %}" rel="stylesheet" type="text/css" >
	<link href="{% static 'ProfileApp/css/nivo-lightbox.css' %}" rel="stylesheet" />
	<link href="{% static 'ProfileApp/css/default_nivolightbox.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'ProfileApp/css/owl.carousel.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'ProfileApp/css/owl.theme.css' %}" rel="stylesheet" media="screen" />
	<link href="{% static 'ProfileApp/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'ProfileApp/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'favicon1.ico' %}" rel="icon" type="image/x-icon" />
<!--     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  	<link rel="stylesheet" href="/resources/demos/style.css"> -->

    <!-- boxed bg -->
	<!-- <link id="bodybg" href="{% static 'ProfileApp/bg1.css' %}" rel="stylesheet" type="text/css" /> -->
	<!-- template skin -->
	<link id="t-colors" href="{% static 'ProfileApp/css/default_color.css' %}" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

<div id="wrapper">
	
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container navigation">
		
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{% url 'ProfileApp:dashboard' %}">
                    <img src="{% static 'ProfileApp/css/img/logo.png' %}" alt="" width="150" height="40" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			  <ul class="nav navbar-nav">
				{% block navbar %}
					Navbar content
				{% endblock %}
			  </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% block content %}
    	Body Content
    {% endblock %}

    <footer>
	
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>About Medicio</h5>
						<p>
						Lorem ipsum dolor sit amet, ne nam purto nihil impetus, an facilisi accommodare sea
						</p>
					</div>
					</div>
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>Information</h5>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Laboratory</a></li>
							<li><a href="#">Medical treatment</a></li>
							<li><a href="#">Terms & conditions</a></li>
						</ul>
					</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>Medicio center</h5>
						<p>
						Nam leo lorem, tincidunt id risus ut, ornare tincidunt naqunc sit amet.
						</p>
						<ul>
							<li>
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-calendar-o fa-stack-1x fa-inverse"></i>
								</span> Monday - Saturday, 8am to 10pm
							</li>
							<li>
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-phone fa-stack-1x fa-inverse"></i>
								</span> +62 0888 904 711
							</li>
							<li>
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
								</span> hello@medicio.com
							</li>

						</ul>
					</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>Our location</h5>
						<p>The Suithouse V303, Kuningan City, Jakarta Indonesia 12940</p>		
						
					</div>
					</div>
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>Follow us</h5>
						<ul class="company-social">
								<li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
								<li class="social-dribble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
						</ul>
					</div>
					</div>
				</div>
			</div>	
		</div>
	</footer>

</div>

<!-- Core JavaScript Files -->
    <script src="{% static 'ProfileApp/js/jquery.min.js' %}"></script>	 
    <script src="{% static 'ProfileApp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'ProfileApp/js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'ProfileApp/js/wow.min.js' %}"></script>
	<script src="{% static 'ProfileApp/js/jquery.scrollTo.js' %}"></script>
	<script src="{% static 'ProfileApp/js/jquery.appear.js' %}"></script>
	<script src="{% static 'ProfileApp/js/stellar.js' %}"></script>
	<script src="{% static 'ProfileApp/js/jquery.cubeportfolio.min.js"></script>
	<script src="{% static 'ProfileApp/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'ProfileApp/js/nivo-lightbox.min.js' %}"></script>
    <script src="{% static 'ProfileApp/js/custom.js' %}"></script>
<!--  	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  	<script>
  		$( function() {
    		$( "#datepicker" ).datepicker({
      			changeMonth: true,
      			changeYear: true,
    			minDate: "-50Y",
    			maxDate: "+0D",
    		});
  		} );
  	</script> -->

</body>

</html>
