{% extends "base.html" %}
{% block title %}ProfileApp | View Profile{% endblock %}	
{% load static %}

{% block navbar %}
	<li><a href="#intro">Home</a></li>
	<li><a href="#service">Service</a></li>
	<li><a href="#doctor">Doctors</a></li>
	<li><a href="#facilities">Facilities</a></li>
	<li><a href="#pricing">Pricing</a></li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="badge custom-badge red pull-right">Extra</span>More <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="index.html">Home CTA</a></li>
			<li><a href="index-form.html">Home Form</a></li>
			<li><a href="index-video.html">Home video</a></li>
		</ul>
	</li>
	<li class="user_icon_item">
		<img src="{% static 'ProfileApp/css/img/icons/user.png' %}" class="user_icon" />
	</li>
	<li class="dropdown">
		<a href="#" id="user_icon_name" class="dropdown-toggle" data-toggle="dropdown">{{ current_user }} <b class="caret"></b></a>
		<ul class="dropdown-menu profile-slider-body" style="display: inline-block;">
			<li class="list-item">
				<div class="profile-slider-top">
					<div class="profile-slider-circle" id="circle">
						<div class="profile-slider-image-cover">
							<img src="{% static 'ProfileApp/css/img/icons/upload-light.png' %}"></img>
							<p>Upload image</p>
						</div>
						<img src="{% static 'ProfileApp/css/img/icons/pikachu.png' %}" class="profile-slider-image" />
					</div>
				</div>
				<div class="profile-slider-bottom">
					<p class="profile-slider-username">Welcome, {{ current_user}}</p>
					<div class="profile-slider-rectangle" id="long"></div>
					<div class="profile-slider-rectangle" id="short"></div>
					<a href="{% url 'ProfileApp:change_password' %}" class="profile-slider-link">
						<div class="profile-slider-icon" id="change_password">
							<img src="{% static 'ProfileApp/css/img/icons/padlock.png' %}" id="padlock" />
							<div class="profile-slider-icon-separator"></div>
							<p class="profile-slider-icon-text">Change password</p>
						</div>
					</a>
					<a href="{% url 'ProfileApp:view_profile' %}" class="profile-slider-link">
						<div class="profile-slider-icon" id="view_profile">
							<img src="{% static 'ProfileApp/css/img/icons/document.png' %}" id="padlock" />
							<div class="profile-slider-icon-separator"></div>
							<p class="profile-slider-icon-text">View Profile</p>
						</div>
					</a>
					<a href="{% url 'ProfileApp:logout' %}" class="profile-slider-link">
						<div class="profile-slider-icon" id="logout">
							<img src="{% static 'ProfileApp/css/img/icons/logout.png' %}" id="padlock" />
							<div class="profile-slider-icon-separator"></div>
							<p class="profile-slider-icon-text">Logout</p>
						</div>
					</a>
				</div>
			</li>
		</ul>
	</li>
{% endblock %}

{% block content %}

	<!-- Section: intro -->
	
	    <section id="intro" class="intro login-intro">
			<div class="intro-content vp-intro-content ">
				<!-- <div class="wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.2s"> -->
					<div class="container">
						<div class="row">
							<div class="vp-form-head">
								<img src="{% static 'ProfileApp/css/img/icons/document.png' %}" class="vp-form-icon"/>
								<div class="vp-form-icon-separator"></div>
								<p class="vp-form-icon-text">
									View Profile
								</p>
							</div>
							<form class="vp-form-body" method="post">
							{% csrf_token %}
								<p class="vp-form-body-label" id="vp-form-label-username">Username</p>
								{{ form.username }}
								<p class="vp-form-body-label" id="vp-form-label-first_name">First name</p>
								{{ form.first_name }}
								<p class="vp-form-body-label" id="vp-form-label-last_name">Last name</p>
								{{ form.last_name }}
								<p class="vp-form-body-label" id="vp-form-label-email">Email</p>
								{{ form.email }}
								<p class="vp-form-body-label" id="vp-form-label-dob">Date of Birth</p>
								{{ form.dob }}
								<div class="vp-form-body-separator"></div>
								<p class="vp-form-body-label" id="vp-form-label-address">Address</p>
								{{ form.address }}
								<p class="vp-form-body-label" id="vp-form-label-phone_number">Mobile number</p>
								{{ form.phone_number }}
								<p class="vp-form-body-label" id="vp-form-label-blood_group">Blood group</p>
								{{ form.blood_group}}
								<!-- <select class="vp-form-body-select">
									<option value="A+">A+</option>
									<option value="A-">A-</option>
									<option value="B+">B+</option>
									<option value="B-">B-</option>
									<option value="AB+">AB+</option>
									<option value="AB-">AB-</option>
									<option value="O+">O+</option>
									<option value="O-">O-</option>
								</select> -->
								<!-- {{ form.blood_group }} -->
								<p class="vp-form-body-label" id="vp-form-label-gender">Sex</p>
								<!-- {{ form.gender }} -->
								<!-- <input type="radio" name="gender" value="M" class="vp-form-body-radio" id="button1" style="cursor:pointer" checked />
								<p class="vp-form-body-radio" id="vp-form-body-male">Male</p>
								<input type="radio" name="gender" value="F" class="vp-form-body-radio" id="button2" style="cursor:pointer" />
								<p class="vp-form-body-radio" id="vp-form-body-female">Female</p> -->
								<input type="submit" class="login-btn vp-btn btn-skin" value="Save changes" />
							</form>
						</div>		
					</div>		
				<!-- </div> -->	
			</div>	
	    </section>

{% endblock %}
