{% extends "GeneralApp/base.html" %}
{% block title %}GeneralApp | About Us{% endblock %}	


{% block navbar %}
	<li><a href="{% url 'MyHealthApp:home' %}">Home</a></li>
	<li><a href="#doctor">Doctors</a></li>
	<li><a href="{% url 'GeneralApp:procedures' %}">Procedures</a></li>
	{% if current_user == "" %}
		<li><a href="{% url 'GeneralApp:login' %}">Sign In</a></li>
		<li><a href="{% url 'GeneralApp:register' %}">Sign Up</a></li>
	{% endif %}
	<li><a href="{% url 'GeneralApp:tnc' %}">T&C</a></li>
	<li><a id="active" href="{% url 'GeneralApp:about' %}">About Us</a></li>
{% endblock %}

{% block content %}

	<!-- Section: intro -->
	
	    <section id="intro" class="intro login-intro">
			<div class="intro-content login-intro-content">
				<div class="wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.2s">
					<div class="container">
						<div class="row">
							<div class="well well-box-top col-lg-12 col-md-12 col-sm-12 about-us", id="about-us-form-head">
								<strong>About Us</strong>
							</div>
							<div class="well well-trans col-lg-12 col-md-12 col-sm-12 about-us" id="form-details">
								<h6>Today, Apollo Hospitals Group has touched the lives of over 45 million patients from 121 countries. The group, which started out as a 150-bed hospital, is now recognized as a pioneer of private healthcare in India, with 64 hospitals in operation. Apollo Hospitals is known not only as a medical institution but has emerged as an integrated healthcare provider in Asia, specializing also in consultancy, clinics, pharmacy, insurance and holistic therapy.
								<br><br>
								The very first Apollo Hospital was established in Chennai, in 1983 by Founder Chairman, Dr. Prathap C Reddy, with the mission to bring world-class healthcare to India at a price point that Indians could afford. Before Apollo Hospitals, only certain individuals had the privilege for quality medical treatment as they could afford to travel abroad. The establishment that Apollo Hospitals offer patients, the same level of quality treatment at only a fraction of the global prices, led to a revolution in medical treatment in India. Until today, this cost consciousness approach continues to be a building block of the hospital’s healthcare strategy.
								<br><br>
								In addition, the company is built on lasting value systems that focuses on excellence, expertise, empathy and innovation. The Apollo Group was the first to invest in pre-requisites for international quality accreditations such as the JCI and to develop centres of excellence Cardiac Sciences, Orthopaedics, Neurosciences, Emergency Care, Cancer and Organ Transplantation. Stringent internal processes and scoring systems ensures the group achieves the very best qualities. Apollo Hospitals took initiatives including the ACE@25 and TASSC, conveying a commitment to global benchmarks and clinical excellence.
								<br>
								</h6>
							
							</div>
						</div>		
					</div>		
				</div>	
			</div>	
	    </section>

{% endblock %}
