{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
    	{% block title %}Page Title{% endblock %}
    </title>
    <link href="{% static 'GeneralApp/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'GeneralApp/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'GeneralApp/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'GeneralApp/css/cubeportfolio.min.css' %}" rel="stylesheet" type="text/css" >
	<link href="{% static 'GeneralApp/css/nivo-lightbox.css' %}" rel="stylesheet" />
	<link href="{% static 'GeneralApp/css/default_nivolightbox.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'GeneralApp/css/owl.carousel.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'GeneralApp/css/owl.theme.css' %}" rel="stylesheet" media="screen" />
	<link href="{% static 'GeneralApp/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'GeneralApp/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon" />

    <!-- boxed bg -->
	<!-- <link id="bodybg" href="{% static 'GeneralApp/bg1.css' %}" rel="stylesheet" type="text/css" /> -->
	<!-- template skin -->
	<link id="t-colors" href="{% static 'GeneralApp/css/default_color.css' %}" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

<div id="wrapper">
	
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<!-- <div class="top-area">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-6">
					<p class="bold text-left">Monday - Saturday, 8am to 10pm </p>
					</div>
					<div class="col-sm-6 col-md-6">
					<p class="bold text-right">Call us now +62 008 65 001</p>
					</div>
				</div>
			</div>
		</div> -->
        <div class="container navigation">
		
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{% url 'MyHealthApp:home' %}">
                    <img src="{% static 'GeneralApp/css/img/logo.png' %}" alt="" width="150" height="40" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			  <ul class="nav navbar-nav">
				{% block navbar %}
					Navbar content
				{% endblock %}
			  </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% block content %}
    	Body Content
    {% endblock %}

    <footer>
	
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>Information</h5>
						<p>
						An Easy-to-Use but useful Web Application where end-users can register free of charge and have their Medical Records sorted. Sign up and enjoy our servies. For more information go to <a href="{% url 'GeneralApp:about' %}">About Us</a>.
						</p>
					</div>
					</div>
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="wow fadeInDown" data-wow-delay="0.1s">
                    <div class="widget">
						<h5>Our location</h5>
						<p>Birla Institue Of Technology and Science, Pilani, INDIA</p>		
					</div>
					<div class="widget">
						<h5>Health center</h5>
						<p>
						For any sort of enquiry, reach out to our assistance team from : 
						</p>
						<ul>
							<li>
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-phone fa-stack-1x fa-inverse"></i>
								</span> +91 750 717 1419
							</li>
							<li>
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
								</span> agarwal97.yash@gmail.com
							</li>
                            <li>
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-calendar-o fa-stack-1x fa-inverse"></i>
								</span> 24/7 Helpline Service
							</li>
						</ul>
					</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="widget">
						<h5>Quick Links</h5>
						<ul>
							<li><a href="{% url 'MyHealthApp:home' %}">Home</a></li>
							<li><a href="{% url 'GeneralApp:about' %}">About Us</a></li>
							<li><a href="{% url 'GeneralApp:login' %}">Login</a></li>
                            <li><a href="{% url 'GeneralApp:register' %}">Register</a></li>
							<li><a href="{% url 'GeneralApp:tnc' %}">Terms and Conditions</a></li>
						</ul>
					</div>
					</div>
				</div>
			</div>	
		</div>
		<!-- <div class="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-6">
					<div class="wow fadeInLeft" data-wow-delay="0.1s">
					<div class="text-left">
					<p>&copy;Copyright - Medicio Theme. All rights reserved.</p>
					</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-6">
					<div class="wow fadeInRight" data-wow-delay="0.1s">
					<div class="text-right">
						<div class="credits">
                            
                                All the links in the footer should remain intact. 
                                You can delete the links only if you purchased the pro version.
                                Licensing information: https://bootstrapmade.com/license/
                                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Medicio
                           
                            <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
					</div>
					</div>
				</div>
			</div>	
		</div>
		</div> -->
	</footer>

</div>

<!-- Core JavaScript Files -->

    <script src="{% static 'GeneralApp/js/jquery.min.js' %}"></script>
    <script src="{% static 'GeneralApp/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'GeneralApp/js/jquery.easing.compatibility.js' %}"></script>		 
    <script src="{% static 'GeneralApp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'ProfileApp/js/bootstrap.js' %}"></script>
    <script src="{% static 'GeneralApp/js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'GeneralApp/js/wow.min.js' %}"></script>
	<script src="{% static 'GeneralApp/js/jquery.scrollTo.js' %}"></script>
	<script src="{% static 'GeneralApp/js/jquery.appear.js' %}"></script>
	<script src="{% static 'GeneralApp/js/stellar.js' %}"></script>
	<script src="{% static 'GeneralApp/js/jquery.cubeportfolio.min.js"></script>
	<script src="{% static 'GeneralApp/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'GeneralApp/js/nivo-lightbox.min.js' %}"></script>
    <script src="{% static 'GeneralApp/js/custom.js' %}"></script>
    <script src="{% static 'MyHealthApp/js/maphilight.js' %}"></script>
    {% block animate_symptom %}{% endblock %}

</body>

</html>
