{% extends "GeneralApp/base.html" %}
{% block title %}GeneralApp | Dashboard{% endblock %}	
{% load static %}

{% block navbar %}
	<li><a href="#intro">Home</a></li>
	<li><a href="#service">Service</a></li>
	<li><a href="#doctor">Doctors</a></li>
	<li><a href="#facilities">Facilities</a></li>
	<li><a href="#pricing">Pricing</a></li>
	<li><a id="active" href="{% url 'GeneralApp:login' %}">Sign In</a></li>
	<li><a href="{% url 'GeneralApp:register' %}">Sign Up</a></li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="badge custom-badge red pull-right">Extra</span>More <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="index.html">Home CTA</a></li>
			<li><a href="index-form.html">Home Form</a></li>
			<li><a href="index-video.html">Home video</a></li>
		</ul>
	</li>
	<li class="user_icon_item">
		<img src="{% static 'GeneralApp/css/img/icons/user.png' %}" class="user_icon" />
	</li>
	<li class="dropdown">
		<a href="#" id="user_icon_name" class="dropdown-toggle" data-toggle="dropdown">{{ current_user }} <b class="caret"></b></a>
		<ul class="dropdown-menu profile-slider-body">
			<li class="list-item">
				<div class="profile-slider-top">
					<div class="profile-slider-circle">
						<img src="{% static 'GeneralApp/css/img/icons/test.png' %}" class="profile-slider-image" />
					</div>
				</div>
				<div class="profile-slider-bottom">
					<p class="profile-slider-username">Welcome, {{ current_user}}</p>
					<!-- <a href="{% url 'logout' %}">Logout</a> -->
				</div>
			</li>
		</ul>
	</li>
{% endblock %}

{% block content %}

	<!-- Section: intro -->
	
	    <section id="intro" class="intro login-intro">
			<div class="intro-content login-intro-content">
				<div class="wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.2s">
					<div class="container">
						<div class="row">
							<div class="form-head login-form-head">
								Sign in to Medicio
							</div>
							<div class="form-body login-form-body">
								
							</div>
						</div>		
					</div>		
				</div>	
			</div>	
	    </section>

{% endblock %}
