{% extends "base.html" %}
{% block title %}GeneralApp | Procedures{% endblock %}	
{% load static %}

{% block navbar %}
	<li><a href="{% url 'MyHealthApp:home' %}">Home</a></li>
	<li><a href="{% url 'GeneralApp:about' %}">About Us</a></li>
	<li><a id="active" href="{% url 'GeneralApp:doctors' %}">Doctors</a></li>
	<li><a href="{% url 'GeneralApp:medicines' %}">Medicines</a></li>
	<li><a href="{% url 'GeneralApp:procedures' %}">Procedures</a></li>
	<li><a href="{% url 'GeneralApp:contacts' %}">Emergency</a></li>
	{% if current_user.is_anonymous %}
		<li><a href="{% url 'GeneralApp:login' %}">Sign In</a></li>
		<li><a href="{% url 'GeneralApp:register' %}">Sign Up</a></li>
	{% endif %}
	{% if not current_user.is_anonymous %}
		<li><a style="margin-right: 15px" href="{% url 'MyHealthApp:MyHealth' %}">My Health</a></li>
		<li class="user_icon_item">
			<img src="{% static 'ProfileApp/css/img/icons/user.png' %}" class="user_icon" />
		</li>
		<li class="dropdown">
			<a href="#" id="user_icon_name" class="dropdown-toggle" data-toggle="dropdown">{{ current_user }} <b class="caret"></b></a>
			<ul class="dropdown-menu profile-slider-body">
				<li class="list-item">
					<div class="profile-slider-top">
						<div class="profile-slider-circle" id="circle">
							<div class="profile-slider-image-cover">
								<img src="{% static 'ProfileApp/css/img/icons/upload-light.png' %}"></img>
								<p>Upload image</p>
							</div>
							{% if current_user.profile_pic.url is not None %}
								<img src="{{current_user.profile_pic.url}}" class="profile-slider-image" />
							{% else %}
								<img src="{% static 'ProfileApp\css\img\icons\avatar.jpg' %}" class="profile-slider-image" />
							{% endif %}
						</div>
					</div>
					<div class="profile-slider-bottom">
						<p class="profile-slider-username">Welcome, {{ current_user}}</p>
						<div class="profile-slider-rectangle" id="long"></div>
						<div class="profile-slider-rectangle" id="short"></div>
						<a href="{% url 'ProfileApp:change_password' %}" class="profile-slider-link">
							<div class="profile-slider-icon" id="change_password">
								<img src="{% static 'ProfileApp/css/img/icons/padlock.png' %}" id="padlock" />
								<div class="profile-slider-icon-separator"></div>
								<p class="profile-slider-icon-text">Change password</p>
							</div>
						</a>
						<a href="{% url 'ProfileApp:view_profile' %}" class="profile-slider-link">
							<div class="profile-slider-icon" id="view_profile">
								<img src="{% static 'ProfileApp/css/img/icons/document.png' %}" id="padlock" />
								<div class="profile-slider-icon-separator"></div>
								<p class="profile-slider-icon-text">Profile</p>
							</div>
						</a>
						<a href="{% url 'ProfileApp:logout' %}" class="profile-slider-link">
							<div class="profile-slider-icon" id="logout">
								<img src="{% static 'ProfileApp/css/img/icons/logout.png' %}" id="padlock" />
								<div class="profile-slider-icon-separator"></div>
								<p class="profile-slider-icon-text">Logout</p>
							</div>
						</a>
					</div>
				</li>
			</ul>
		</li>	
	{% endif %}
{% endblock %}

{% block content %}

	<!-- Section: intro -->
	
	    <section id="intro" class="intro login-intro">
			<div class="intro-content vp-intro-content ">
				<!-- <div class="wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.2s"> -->
					<div class="container procedure-container">
						<div class="row procedure-row">
							<div class="procedure-form-head">
								<img src="{% static 'ProfileApp/css/img/icons/doctor.png' %}" class="vp-form-icon" style="width: 60px; height: 60px; margin: -30px 0 0 -30px" />
								<div class="vp-form-icon-separator"></div>
								<p class="vp-form-icon-text">
									Doctors
								</p>
								{% if user_flag %}
									{% if already_exist %}
										<a id="add-doctor-link" class="doctor-clickable">
											<div class="add-doctor-btn">
												<img class = "add-doctor-icon" src="{% static 'ProfileApp/css/img/icons/add.png' %}" />
												<p class="add-doctor-desc">Add to my doctors</p>
											</div>		
										</a>
									{% else %}
										<a id="add-doctor-link" onClick="submitForm()">
											<div class="add-doctor-btn">
												<img class = "add-doctor-icon" src="{% static 'ProfileApp/css/img/icons/add.png' %}" />
												<p class="add-doctor-desc">Add to my doctors</p>
											</div>		
										</a>
									{% endif %}
								{% else %}
									<a id="add-medc-link" class="user-not-found">
										<div class="add-medc-btn">
											<img class = "add-medc-icon" src="{% static 'ProfileApp/css/img/icons/add.png' %}" />
											<p class="add-medc-desc">Add to my medicines</p>
										</div>		
									</a>								
								{% endif %}						
							</div>
							<div class="procedure-body-scroll">
								{% for doctor in doctors %}			
									<a href="{% url 'GeneralApp:doctor_details' doctor.id %}" class="procedure-body-tab">
										<div class = "procedure-body-name">
											<div class = "procedure-body-separator"></div>
											<div class = "procedure-body-label">{{ doctor.doctor_name }}</div>
										</div>
									</a>
								{% endfor %}
							</div>
							<div class="procedure-body-desc">
								<div class="procedure-desc-left" id="desc-label-pp">
									<p class="procedure-desc-label">Profile<br/>image</p>
								</div>
								<div class="procedure-desc-right" id="desc-field-pp">
									<p class="procedure-desc-name">
										<img src="{{ current_doctor.doctor_pic.url }}" />
									</p>
								</div>
								<div class="procedure-desc-left" id="desc-label-name">
									<p class="procedure-desc-label">Name</p>
								</div>
								<div class="procedure-desc-right" id="desc-field-name">
									<p class="procedure-desc-name">{{ current_doctor.doctor_name }}</p>
								</div>
								<div class="procedure-desc-left" id="desc-label-desc">
									<p class="procedure-desc-label">Description</p>
								</div>
								<div class="procedure-desc-right" id="desc-field-desc">
									<p class="procedure-desc-name">{{ current_doctor.doctor_description }}</p>
								</div>
								<div class="procedure-desc-left" id="desc-label-comp">
									<p class="procedure-desc-label">Specialty</p>
								</div>
								<div class="procedure-desc-right" id="desc-field-comp">
									<p class="procedure-desc-name">{{ current_doctor.doctor_speciality.title }}</p>
								</div>
								<div class="procedure-desc-left" id="desc-label-bp">
									<p class="procedure-desc-label">Contact No.</p>
								</div>
								<div class="procedure-desc-right" id="desc-field-comp">
									<p class="procedure-desc-name">{{ current_doctor.doctor_phone_number }}</p>
								</div>								
								<div class="procedure-desc-left" id="desc-label-symp">
									<p class="procedure-desc-label">Address</p>
								</div>
								<div class="procedure-desc-right" id="desc-field-comp">
									<p class="procedure-desc-name">{{ current_doctor.doctor_address }}</p>
								</div>
								<div class="procedure-desc-left" id="desc-label-symp">
									<p class="procedure-desc-label">Timings</p>
								</div>
								<div class="procedure-desc-right" id="desc-field-comp">
									<p class="procedure-desc-name">{{ current_doctor.doctor_timings }}</p>
								</div>										
							</div>
						</div>		
					</div>		
				<!-- </div> -->	
			</div>	
	    </section>

	    <div class="hidden-div">
			<form action="{% url 'GeneralApp:add_general_doctor' %}" method="post" id="hidden-doctor-form">
				{% csrf_token %}
				<input type="number" value="{{ current_doctor.id }}" name="doc_id" />
			</form>
		</div>

{% endblock %}
