{% extends "GeneralApp/base.html" %}
{% block title %}GeneralApp | Sign In{% endblock %}	


{% block navbar %}
	<li><a href="#intro">Home</a></li>
	<li><a href="#service">Service</a></li>
	<li><a href="#doctor">Doctors</a></li>
	<li><a href="#facilities">Facilities</a></li>
	<li><a href="#pricing">Pricing</a></li>
	<li><a id="active" href="{% url 'GeneralApp:login' %}">Sign In</a></li>
	<li><a href="{% url 'GeneralApp:register' %}">Sign Up</a></li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="badge custom-badge red pull-right">Extra</span>More <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="index.html">Home CTA</a></li>
			<li><a href="index-form.html">Home Form</a></li>
			<li><a href="index-video.html">Home video</a></li>
		</ul>
	</li>
{% endblock %}

{% block content %}

	<!-- Section: intro -->
	
	    <section id="intro" class="intro login-intro">
			<div class="intro-content login-intro-content">
				<div class="wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.2s">
					<div class="container">
						<div class="row">
							<div class="form-head login-form-head">
								Sign in to Medicio
							</div>
							<div class="form-body login-form-body">
									<form action="" method="post">
									{% csrf_token %}
										<p class="form-label" id="username">Username</p>
										{{ form.username }}
										<p class="form-label" id="password">Password</p>
										<a href="#">
											<p class="form-label" id="forgot-password">Forgot password?</p>  
										</a>
										{{ form.password }}
										<input type="submit" class="login-btn btn-skin" value="Sign in" />
									</form>
									{% if context != "" %}
										<p class="form-label" id="login-error">{{ context }}</p>
									{% else %}
										<!-- <a href="{% url 'social:begin' 'twitter' %}" class="form-label" id="login-error">Login with Twitter</a> -->
										<a href="{% url 'social:begin' 'facebook' %}" class="form-label" id="login-error">Login with Facebook</a>
									{% endif %}
							</div>
						</div>		
					</div>		
				</div>	
			</div>	
	    </section>

{% endblock %}
