{% extends "base.html" %}
{% block title %}GeneralApp | Medicines{% endblock %}	
{% load static %}

{% block navbar %}
	<li><a href="{% url 'MyHealthApp:home' %}">Home</a></li>
	<li><a href="{% url 'GeneralApp:about' %}">About Us</a></li>
	<li><a href="{% url 'GeneralApp:doctors' %}">Doctors</a></li>
	<li><a id="active" href="{% url 'GeneralApp:medicines' %}">Medicines</a></li>
	<li><a href="{% url 'GeneralApp:symptoms' %}">Symptoms</a></li>
	<li><a href="{% url 'GeneralApp:diseases' %}">Diseases</a></li>		
	<li><a href="{% url 'GeneralApp:procedures' %}">Procedures</a></li>
	<li><a href="{% url 'GeneralApp:contacts' %}">Emergency</a></li>
	{% if current_user.is_anonymous %}
		<li><a href="{% url 'GeneralApp:login' %}">Sign In</a></li>
		<li><a href="{% url 'GeneralApp:register' %}">Sign Up</a></li>
	{% endif %}
	{% if not current_user.is_anonymous %}
		<li><a style="margin-right: 15px" href="{% url 'MyHealthApp:MyHealth' %}">My Health</a></li>
		<li class="user_icon_item">
			<img src="{% static 'ProfileApp/css/img/icons/user.png' %}" class="user_icon" />
		</li>
		<li class="dropdown">
			<a href="#" id="user_icon_name" class="dropdown-toggle" data-toggle="dropdown">{{ current_user }} <b class="caret"></b></a>
			<ul class="dropdown-menu profile-slider-body">
				<li class="list-item">
					<div class="profile-slider-top">
						<div class="profile-slider-circle" id="circle">
							<div class="profile-slider-image-cover">
								<img src="{% static 'ProfileApp/css/img/icons/upload-light.png' %}"></img>
								<p>Upload image</p>
							</div>
							{% if current_user.profile_pic.url is not None %}
								<img src="{{current_user.profile_pic.url}}" class="profile-slider-image" />
							{% else %}
								<img src="{% static 'ProfileApp\css\img\icons\avatar.jpg' %}" class="profile-slider-image" />
							{% endif %}
						</div>
					</div>
					<div class="profile-slider-bottom">
						<p class="profile-slider-username">Welcome, {{ current_user}}</p>
						<div class="profile-slider-rectangle" id="long"></div>
						<div class="profile-slider-rectangle" id="short"></div>
						<a href="{% url 'ProfileApp:change_password' %}" class="profile-slider-link">
							<div class="profile-slider-icon" id="change_password">
								<img src="{% static 'ProfileApp/css/img/icons/padlock.png' %}" id="padlock" />
								<div class="profile-slider-icon-separator"></div>
								<p class="profile-slider-icon-text">Change password</p>
							</div>
						</a>
						<a href="{% url 'ProfileApp:view_profile' %}" class="profile-slider-link">
							<div class="profile-slider-icon" id="view_profile">
								<img src="{% static 'ProfileApp/css/img/icons/document.png' %}" id="padlock" />
								<div class="profile-slider-icon-separator"></div>
								<p class="profile-slider-icon-text">Profile</p>
							</div>
						</a>
						<a href="{% url 'ProfileApp:logout' %}" class="profile-slider-link">
							<div class="profile-slider-icon" id="logout">
								<img src="{% static 'ProfileApp/css/img/icons/logout.png' %}" id="padlock" />
								<div class="profile-slider-icon-separator"></div>
								<p class="profile-slider-icon-text">Logout</p>
							</div>
						</a>
					</div>
				</li>
			</ul>
		</li>	
	{% endif %}
{% endblock %}

{% block content %}

	<!-- Section: intro -->
	
	    <section id="intro" class="intro login-intro">
			<div class="intro-content vp-intro-content ">
				<!-- <div class="wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.2s"> -->
					<div class="container procedure-container">
						<div class="row procedure-row">
							<div class="vp-form-head">
								<img src="{% static 'ProfileApp/css/img/icons/medicines.png' %}" class="vp-form-icon" />
								<div class="vp-form-icon-separator"></div>
								<p class="vp-form-icon-text">
									Medicines
								</p>																
							</div>
							<div class="procedure-body-scroll">
								{% for medicine in medicines %}
									<a href="{% url 'GeneralApp:medicine_details' medicine.id %}" class="procedure-body-tab">
										<div class = "procedure-body-name">
											<div class = "procedure-body-separator"></div>
											<div class = "procedure-body-label">{{ medicine.medicine_name }}</div>
										</div>
									</a>
								{% endfor %}
							</div>
						</div>		
					</div>		
				<!-- </div> -->	
			</div>	
	    </section>
{% endblock %}
