{% extends "GeneralApp/base.html" %}
{% block title %}GeneralApp | Sign In{% endblock %}	


{% block navbar %}
	<li><a href="#intro">Home</a></li>
	<li><a href="#service">Service</a></li>
	<li><a href="#doctor">Doctors</a></li>
	<li><a href="#facilities">Facilities</a></li>
	<li><a href="#pricing">Pricing</a></li>
	<li><a id="active" href="{% url 'GeneralApp:login' %}">Sign In</a></li>
	<li><a href="{% url 'GeneralApp:register' %}">Sign Up</a></li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="badge custom-badge red pull-right">Extra</span>More <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="index.html">Home CTA</a></li>
			<li><a href="index-form.html">Home Form</a></li>
			<li><a href="index-video.html">Home video</a></li>
		</ul>
	</li>

{% block content %}

<!-- The below block is how this template should be-->


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset confirmation' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% trans 'New password:' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="{% trans 'Change my password' %}" />
</fieldset>
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}


	<!-- Section: intro -->
	
	    <section id="intro" class="intro login-intro">
			<div class="intro-content login-intro-content">
				<div class="wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.2s">
					<div class="container">
						<div class="row">
							<div class="form-head login-form-head">
								Enter Your Email Address
							</div>
							<div class="form-body login-form-body">
									<form action="" method="post">
									{% csrf_token %}
										<p class="form-label" id="username">E-mail</p>
										{{ form.email }}
									{% if context != "" %}
										<p class="form-label" id="login-error">{{ context }}</p>
									{% endif %}
							</div>
						</div>		
					</div>		
				</div>	
			</div>	
	    </section>

{% endblock %}
