{% extends "GeneralApp/base.html" %}
{% block title %}GeneralApp | Sign In{% endblock %}	


{% block navbar %}
	<li><a href="#intro">Home</a></li>
	<li><a href="#service">Service</a></li>
	<li><a href="#doctor">Doctors</a></li>
	<li><a href="#facilities">Facilities</a></li>
	<li><a href="#pricing">Pricing</a></li>
	<li><a id="active" href="{% url 'GeneralApp:login' %}">Sign In</a></li>
	<li><a href="{% url 'GeneralApp:register' %}">Sign Up</a></li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="badge custom-badge red pull-right">Extra</span>More <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="index.html">Home CTA</a></li>
			<li><a href="index-form.html">Home Form</a></li>
			<li><a href="index-video.html">Home video</a></li>
		</ul>
	</li>
{% endblock %}

{% block content %}
<section id="intro" class="intro login-intro">
		<div class="intro-content login-intro-content">
			<div class="wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.2s">
				<div class="container">
					<div class="row">
                        <div class="form-head login-form-head">
								Enter your Registered Email Address
							</div>
							   <form method="post">
                                {% csrf_token %}
                                    <fieldset class="module aligned">
                                        <div class="form-row field-email">
                                            {{ form.email.errors }}
                                            <label for="id_email">Email Address : </label>
                                            {{ form.email }}
                                        </div>
                                        <input type="submit" placeholder="Reset" />
                                    </fieldset>
                                </form>
                    </div>
				</div>		
			</div>	
		</div>	
</section>
{% endblock %}
