{% extends "GeneralApp/base.html" %}
{% block title %}GeneralApp | Enter email{% endblock %}	


{% block navbar %}
	<li><a href="{% url 'MyHealthApp:home' %}">Home</a></li>
	<li><a href="{% url 'GeneralApp:about' %}">About Us</a></li>	
	<li><a href="{% url 'GeneralApp:doctors' %}">Doctors</a></li>
	<li><a href="{% url 'GeneralApp:medicines' %}">Medicines</a></li>
	<li><a href="{% url 'GeneralApp:procedures' %}">Procedures</a></li>
	<li><a id="active" href="{% url 'GeneralApp:login' %}">Sign In</a></li>
	<li><a href="{% url 'GeneralApp:register' %}">Sign Up</a></li>
{% endblock %}

{% block content %}
	<section id="intro" class="intro login-intro">
			<div class="intro-content login-intro-content">
				<div class="wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.2s">
					<div class="container">
						<div class="row">
	                        <div class="form-head login-form-head rp-form-head">
								Enter your email address
							</div>
							<div class="form-body login-form-body rp-form-body">
								<form action="" method="post">
								{% csrf_token %}
									<p class="form-label" id="rp-form-label-email">Email</p>
									{{ form.email }}
									<input type="submit" class="login-btn rp-btn btn-skin" value="Send email" />
								</form>
								{% if context != "" %}
									<p class="form-label" id="login-error">{{ context }}</p>
								{% endif %}
							</div>
	                    </div>
					</div>		
				</div>	
			</div>	
	</section>
{% endblock %}
