{% extends "GeneralApp/base.html" %}
{% block title %}GeneralApp | Sign In{% endblock %}	


{% block navbar %}
	<li><a href="{% url 'MyHealthApp:home' %}">Home</a></li>
	<li><a href="{% url 'GeneralApp:about' %}">About Us</a></li>	
	<li><a href="{% url 'GeneralApp:doctors' %}">Doctors</a></li>
	<li><a href="{% url 'GeneralApp:medicines' %}">Medicines</a></li>
	<li><a href="{% url 'GeneralApp:symptoms' %}">Symptoms</a></li>
	<li><a href="{% url 'GeneralApp:diseases' %}">Diseases</a></li>	
	<li><a href="{% url 'GeneralApp:procedures' %}">Procedures</a></li>
	<li><a href="{% url 'GeneralApp:contacts' %}">Emergency</a></li>
	<li><a id="active" href="{% url 'GeneralApp:login' %}">Sign In</a></li>
	<li><a href="{% url 'GeneralApp:register' %}">Sign Up</a></li>
{% endblock %}

{% block content %}

{% endblock %}
